@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #050505;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.font-futuristic {
  font-family: 'Lexend Exa', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 dark:bg-neutral-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400 dark:bg-neutral-600;
}

/* Firefox Support */
html {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 transparent;
}

html.dark {
  scrollbar-color: #404040 transparent;
}

.modal-fix-nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  height: 100px; 
  background: inherit; 
  z-index: -1;
}

@keyframes gradient-bg {

  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background: linear-gradient(-45deg, #050505, #111, #080808, #000);
  background-size: 400% 400%;
  animation: gradient-bg 15s ease infinite;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
